body {
  margin: 0;
  font-family: 'Roboto', monospace;
  color: #ffffff;
}

.main {
  display: flex;
  width: 100%;
  margin: 5vh auto;
  border-radius: 25px;
  display: block;
}

.home-section {
  background-color: #000000;
  border-radius: inherit;
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
}

.presentation {
  width: 40%;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  font-family: 'Asul', sans-serif;
}

.present-text {
  display: block;
  margin-top: 20%;
}

.presentation h1 {
  font-size: 4vw;
  margin-bottom: 0;
}

.presentation p {
  font-size: 1.5vw;
  margin: 0;
}

.home-image {
  width: 90%;
}

hr.solid {
  border-top: 3px solid #fe6e51;
  width: 3vw;
}

.who-we-are-section {
  background-color: #2b2b2b;
  width: 100%;
  height: auto;
  display: inline-block;
}

.who-we-are-content {
  text-align: center;
}
.who-we-are-content p {
  font-size: 1vw;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  color: #ffffff;
}
.contato-content {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: white;
  width: 12%;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
  box-shadow: rgb(243, 149, 27) 0px 3px 8px;
}
.contato-content p {
  font-size: 0.7vw;
  text-align: center;
  margin: auto;
}
.pedido-content {
  background-color: white;
  width: 30%;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.pedido-content p {
  font-size: 0.7vw;
}

#menu h3 {
  text-align: center; margin-top: 3vw; font-size: 1.5rem;
}

.menu-items {
  display: flex; flex-wrap: nowrap; margin: auto; width: 40%;
}

.item-pizza {
  background-color: #000000; cursor: pointer; width: 30%; height: 10vw; margin: 3vh auto; border-radius: 25px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item-img {
  border-radius: 50%; background-color: rgba(255, 255, 255, 0); width: 5vw; height: 5vw; margin: 12% auto; display: flex; justify-content: center;
}

.item-img img {
  width: 4vw; margin: auto;
}

.drink-item {
  background-color: #000000; cursor: pointer; width: 30%; height: 10vw; margin: 3vh auto; border-radius: 25px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item-img-text {
  text-align: center;
}

.item-img-text h4{
  margin: 0; font-size: 1rem;
}

#pizzas {
  display: flex; flex-wrap: nowrap; margin: auto; width: 60%;
}

.add-cart-button {
  background-color: #000000;
  border: none;
  color: #005166;
  text-align: center;
  font-size: 20px;
  margin: 8px 4px;
  padding: 10px 20px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
}

.add-cart-button-drink:hover {
  opacity: 1
}

.item-option-div {
  background-color: #000000; width: 12vw; height: 19vw; margin: 3vh auto; border-radius: 25px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item-option-div-img {
  border-radius: 50%; width: 10vw; height: 5vw; margin: 15% auto; display: flex; justify-content: center;
}

.pizza-calabresa {
  width: 10vw; margin: auto;
}

.pizza-quatro-queijos {
  width: 9vw; height: 7vw; margin-top: -10%;
}

.pizza-img {
  width: 15vw; height: 8vw; margin-top: -15%;
}

#drinks {
  display: none; flex-wrap: nowrap; margin: auto; width: 80%;
}

.align-center {
  text-align: center;
}

h4.items {
  margin: 0; font-size: 1rem;
}

.pizza-details {
  font-size: 10px; color: #ffffff; margin: 5% 9%;
}

.items-cost {
  font-size: 1rem; color: #ffffff;
}

.drink-item-large {
  border-radius: 50%; width: 10vw; height: 5vw; margin: 20% auto; display: flex; justify-content: center;
}

.drink-item-small {
  border-radius: 50%; width: 3vw; height: 5vw; margin: 20% auto; display: flex; justify-content: center;
}

.drink-image-1 {
  width: 8vw; height: 7vw; margin: auto; margin-top: -5%
}

.drink-image-2 {
  width: 8vw; height: 7vw; margin-top: -5%;
}

.drink-image-3 {
  width: 8vw; height: 6vw; margin-bottom: -10%;
}

.cart-icon-color {
  color: #000000
}

#who-we-are h3 {
  text-align: center; margin-top: 4vw; font-size: 1.5rem;
}

.contact-info {
  display: flex; margin: auto;
}

.contact-info-icon{
  margin-left: 10px;
}

#order h3 {
  text-align: center; margin-top: 3vw; font-size: 1.5rem;
}

.order-items {
  margin-left: 4%; display: inline-block; width: 90%;
}

.order-button-content {
  margin: auto; display: flex;
}

.order-button {
  margin: 5px auto;
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 8px 14px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
}

.order-button:enabled:hover {
  opacity: 1
}

button:disabled,
button[disabled]{
  margin: 5px auto;
  background-color: #00C5A1;
  border: none;
  color: #f4f4f4;
  text-align: center;
  font-size: 16px;
  padding: 8px 14px;
  opacity: 0.2;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
}

.order-right-text {
  float: right;
}

.order-left-text {
  float: left;
}

#devliery-started {
  display: none;
}

nav {
	margin: 27px 8% 5px;

	position: relative;
	width: 590px;
	height: 50px;
	background-color: #34495e00;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #313C3E;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 5%;
	bottom: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 50px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
  left: 5;
	width: 100px;
}
a:nth-child(3) {
  left: 5;
	width: 100px;
}
a:nth-child(4) {
  left: 5;
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #00C5A1;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 100px;
	left: 100px;
	background-color: #00C5A1;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 200px;
	background-color: #00C5A1;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 100px;
	left: 300px;
	background-color: #00C5A1;
}

#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #0026ff;
    color: #313C3E;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

#toast #desc{

    
    color: #fff;
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}